body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

/* 
--------------------
-----HEADER --------
--------------------
*/

header {
    padding: 2em 0;
    background-color: #F8F8F8;
    margin-bottom: 3.625em;

}

.container {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .container-nav {
        flex-direction: column;
        align-items: center;
    }

}


header h1 {
    font-weight: normal;
    font-size: 2rem;
    font-family: Lora, sans-serif;
    color: #143774;
    margin: 0;
}

.subtitle {
    margin: 0;
    color: #1792D2;
    font-size: .75rem;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 900px) {
    h1 {
        text-align: center;
    }
    .subtitle {
        text-align: center;
    }
}

ul {
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
    list-style: none;
    display: flex;
}


li {
    margin-left: 2em;
    text-align: center;
}

@media (max-width: 700px) {
    ul {
        flex-direction: column;
        align-items: center;
    }
    li {
        margin-bottom: 1em;
        margin-left: 0;
    }
}

header a {
    text-decoration: none;
    color: #707070;
    padding: .25em 0;
}

header a:hover,
header a:focus  {
    border-bottom: 3px solid #1792D2;
    cursor: pointer;
    color: #1792D2;
}

.current-page {
    border-bottom: 3px solid #707070;
}

.current-page:hover {
    color: #707070;
    border-bottom: #707070 3px solid;
    cursor: default; 

}

/* 
--------------------
--------------------
--------------------
--------------------
--------------------
-----CONTENT -------
--------------------
--------------------
--------------------
--------------------
*/

/* 
--------------------
-----LAYOUT---------
----CONTENT --------
--------------------
*/

.main-post {
    padding-bottom: 1.5em;
    border-bottom: solid 2px #707070;
}

.minor-post {
    margin-top: 2.6em;
    margin-bottom: 2.6em;
}


@media (min-width: 700px) {
    .container-content {
        display: flex;
    }
    main {
        width: 70%;
        margin-right: 3.2em;
    }
    aside {
        width: 30%;
    }
    .minor-post {
        display: flex;
        margin: 1.8em 0;
    }
    .minor-post-text{
        margin-left: 5%;
        width: 70%;
    }
    .minor-post-img {
        width: 30%;
    }
    img {
        max-width: 100%;
    }
}

@media (max-width: 700px) {
    .minor-post-text{
        margin-top: -3em;
    }
    .minor-post .img-caption {
        text-align: right;
    }
}

/* 
LAYOUT
ASIDE 
*/


.sidebar-widget {
    background-color: #ffff;
    border: solid 1.25em #efefef;
    margin-bottom: 3em;
    padding: 2em;
}

.sidebar-widget h2,
.sidebar-widget p {
    margin: 0;
}

.sidebar-widget p {
    margin-top: 1em;
}

.miniature-recent-posts {
    border-bottom: 2px solid #d3d1d1;
    margin-bottom: 1em;
}

.miniature-recent-posts:last-child {
    border: 0;
    margin: 0;
}

/* 
--------------------
-----IMAGES---------
----CONTENT --------
--------------------
*/

img {
    max-width: 100%;
    display: block;
}

.minor-post img {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
}

.about-me-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 2em;
}

/* 
--------------------
-----TYPOGRAPHY-----
----CONTENT --------
--------------------
*/
.img-caption,
.post-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-weight: normal;
    color: #707070;
}

.img-caption {
    font-size: 0.875rem; 
    margin: 2em 0;
}

.posts-title {
    font-family: Lora, sans-serif;
    font-weight: 500;
    color: #143774;
    font-size: 1.5rem;
    margin: 0;
}

.post-text {
    font-size: 1.125rem;
}

strong {
    font-weight: 700;
}

.post-text a {
    color: #1792D2;
    text-decoration: underline;
}

.post-text a:hover,
.post-text a:focus{
    cursor: pointer;
    color: #143774;
    text-decoration: underline;
}

.continue-reading {
    font-family: Ubuntu;
    color: #1792D2;
    font-size: .875rem;
    font-weight: bold; 
    text-decoration: none;
}

.continue-reading:hover,
.continue-reading:focus {
    color: #143774;
    text-decoration: underline;
    cursor: pointer;
}

.highlighted-text {
    color: #1792D2;
    font-size: 1.3rem;
    font-family: Lora;
}

/* 
TYPOGRAPHY
ASIDE 
*/

.aside-title,
.about-me-body {
    font-family: Ubuntu;
    color: #143774;
    font-size: 1.125rem;
}

.aside-title {
    padding-bottom: 1em;
}

.about-me-body {
    font-weight: lighter;
}

.miniature-titles {
    font-family: Lora;
    font-weight: normal;
    font-size: 1.125rem;
    color: #143774;
}

/* 
--------------------
-----FOOTER --------
--------------------
*/

footer {
    background-color: #143774;
    color: #718bb9;
    text-align: center;
    padding: 2.75em;
}

.footer-title {
    margin-bottom: .4em;
}

footer p {
    margin: 0;
    padding: 0;
}



.main-h1 {
    font-size: 4rem;

}