* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #184c6d;
  color: #fefefe;
  display: flex;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  max-width: 900px;
  min-width: 200px;
  width: 90%;
  margin: 0 auto;
}

/* NAVIBAR */

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.1em 0 1em 0;
  position: fixed;
  background-color: #184c6d;
  width: 90%;
}

.name-logo-div {
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-bars {
  font-size: 1.5rem;
  cursor: pointer;
}

/* .menu-items-div {
  display: none;
} */

/* HERO */

.hero {
  margin-top: 5em;
}

.main-header-text {
  font-size: 2.2rem;
  margin-bottom: 0.3em;
}

.minor-header-text {
  font-size: 1.125rem;
  color: rgb(201, 201, 201);
  font-weight: 400;
}

.highlighted-text {
  color: #da9559;
}

.contact-me-btn-container {
  text-align: right;
}

.contact-me-btn {
  background-color: #133d57;
  color: #fefefe;
  border: 1px solid #da9559;
  padding: 0.5em 1em;
  margin-top: 1em;
  cursor: pointer;
  text-decoration: none;
}

/* MAIN IMAGE DIV */

.main-img-div {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.main-img {
  max-width: 90%;
  padding: 0;
}

.currently-text {
  background-color: #133d57;
  border: solid 1px #da9559;
  padding: 0.5em;
  width: 40%;
  margin-top: -6em;
  z-index: 2;
  position: relative;
}

.trybe-link {
  color: rgb(2, 216, 2);
  cursor: pointer;
}

/* SECTIONS */

.margin-bottom-padding-top {
  margin-bottom: 3em;
  padding-top: 3em;

}

.projects, .skills, .about-me, .contacts {
  border-width: 0px;
  border-top-width: 1px;
  border-style: solid;
  border-image: 
    linear-gradient( to right,
      #DA9559, 
      #753f10
    ) 1;
}


/* about me */

.about-me-img {
  width: 80%;
  max-width: 200px;
}

/* contact me */

.contacts {
  text-align: center;
  padding: 3em 0;
}



/* COMO ME ENCONTRAR */

.como-me-encontrar {
  margin: 1em 0;
  text-align: center;
}

.contact-icons-div {
  width: 150px;
  border: solid 1px black;
  display: flex;
  justify-content: space-around;
}

.fa-linkedin,
.fa-github,
.fa-envelope {
  font-size: 2rem;
  border: solid 1px yellow;
}


.contacts a {
  color: #fefefe;
}


/* COPYRIGHT */

.copyright-paragraph {
  font-size: .6rem;
  margin: 3em 0 1em 0;
}